* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

#header {
  padding: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav a {
  color: rgb(68, 68, 68);
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}

#home {
  height: 800px;
  background: url(./img/61127627883dbb0802b613e3_Hero\ Background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 0;
}
.cover {
  width: 100%;
  height: 100%;
  background: rgba(248, 243, 243, 0.718);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.home_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.home_logo h1 {
  color: rgb(68, 68, 68);
  font-size: 25px;
  font-weight: 800;
  line-height: 16px;
}

.home_text h2 {
  padding-top: 10px;
  text-align: center;
  color: #45525b;
  font-size: 37px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 1px;
}

.new_home_icon {
  position: relative;
}
.arrow {
  position: absolute;
  bottom: 70px;
}
.rectangle {
  position: absolute;
  bottom: 50px;
  left: 740px;
  z-index: -1;
}

#goal {
  background: #fafafc;
  padding: 99px;
}
.goal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
}
.goal_text {
}
.goal_text h6 {
  color: rgb(255, 138, 99);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}
.goal_text h1 {
  width: 491px;
  color: rgb(69, 82, 91);
  font-size: 48px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: left;
}

.goal_comment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.goal_comment p {
  color: rgb(51, 51, 51);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  width: 561px;
}

.goal_ava {
  display: flex;
  align-items: center;
  gap: 10px;
}

.goal_ava h5 {
  color: rgb(69, 82, 91);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
}

.goal_ava h6 {
  color: rgb(111, 114, 120);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}

#section_3 {
  padding: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our_block {
  text-align: center;
}

.our_block a {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 2px;
  text-align: center;
  color: #ff8a63;
}

.our_block h2 {
  color: #45525b;
  font-size: 36px;
  font-weight: 400;
}

.our_block p {
  color: #6f7278;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.our_box {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

.our_logo {
  padding: 30px 21px;
  width: 300px;
  height: 167px;
  box-sizing: border-box;
  border: 1px solid;
  border: 1px solid rgba(202, 204, 209, 0.2);
  border-radius: 10px;
  background: #fff;
  align-items: center;
}

.our_logo:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background: rgb(250, 250, 252);
}

.our_nav {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.our_logo h5 {
  color: rgb(69, 82, 91);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}

.our_logo p {
  width: 196px;
  color: rgb(111, 114, 120);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
}
